.scroll2Top {
  background-color:  var(--scrollTop);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* color: var(--title); */
  color: #ffff;
  font-size: 1.25rem;
}

.scroll2Top:hover {
  background-color: var(--scrollTopHover);
}

@media (max-width: 600px) {
  .scroll2Top {
    width: 2rem;
    height: 2rem;
    opacity: 0.6;
    font-size: 1rem;
  }
}